{% extends 'base.html' %}
{% block title %} Detalles de Cátedra {% endblock %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/texteffects.css' > {% endblock %}

{% block header %}
		
{% endblock %}

{% block content %}
	<div class="page-header" >
  		<h1 class="main-title" style="margin-left: 10px;">
  						{{carrera.get_title}}
	  	</h1>
	</div>
	<div class="container"> 
		<div class="row-fluid">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h4 class="panel-title">Información de la carrera</h4> </div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							  	<dt> Título Intermedio:</dt>
							  	<dd>{{carrera.tit_intermedio}}</dd>
							  	<dt> Año del plan: </dt>
							  	<dd>{{carrera.year}} </dd>		
   						</dl>
					</div>
					<div class="panel-footer">
						<a href="#" class="list-group-item"> 
							<strong> Sitio web: </strong>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-info">	</div>
					<div class="panel-footer">
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
