{% extends 'base.html' %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/texteffects.css' > {% endblock %}

	{% block header %}
		{% block alertmessage %}
			{% if messages %}     				
            			{% for message in messages %}  <!-- Para mostrar mensajes al usuario -->
              				<div class="alert alert-warning alert-dismissable">
              					<button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
    						<strong>{{ message }}  </strong> 
    					</div>
           			 {% endfor %} 
			 {% endif %}
		{% endblock %}
			
	{% endblock %}
	
{% block content %}
	<div class="container">
	  	 <div class="row-fluid">
	  	 	<div class="col-lg-12">
	  	 		<div class="jumbotron">
	  	 			<h4><font face="Tahoma">
	  	 				Cada panel corresponde a una carrera almacenada en el sistema y dictada por la facultad. <br />
	  	 				Contienen las acciones para mostrar la cantidad de alumnos inscriptos, el plan de estudio y las incumbencias profesionales.
	  	 			</font>
	  	 			</h4>
	  	 		</div>
	  	 	</div>
	  	 	{% for carrera in carreras %}
	  	 	<div class="col-lg-6 control-group">
	  		 	<div class="panel panel-default">
	  				<div class="panel-heading text-center"> 
	  					<h4>{{carrera.get_title}}</h4>
	  				</div>
	  				<div class="panel-body">	
	  					<ul class="list-group"> 
	  							<a class="list-group-item" href="{% url 'carreras:edit_carrera' carrera.id %}">
	  								<h5 class="list-group-item-heading"><i class="icon-edit"> Editar </i></h5>
									<small class="list-group-item-text"> Pulse aquí para editar la información de la carrera </small>
								</a>
		  						<a  class="list-group-item" href="{% url 'carreras:carrera_details' carrera.id %}">
		  							<h5 class="list-group-item-heading"> <i class="icon-info-sign"> Ver detalles</i> </h5>	
									<small class="list-group-item-text">Permite ver el plan de estudio, título intermedio e incumbencias profesionales</small>
								
								</a>
								 <a  class="list-group-item"" href="{% url 'alumnos:alumno_by_career' carrera.nombre %}">
									<h5 class="list-group-item-heading"> <i class="icon-group"> Ver alumnos inscriptos </i></h5>
									<small class="list-group-item-text">Permite ver la cantidad de alumnos inscriptos en una carrera </small>
								</a>
			 				
						</ul>
  					</div>
  				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
	
		
	
{% endblock%}
