{% extends 'base.html' %}
{% block title %} AlumnosWeb {% endblock %}
{% block customcss %}
	<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/multidropdown.css' />
	<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/fixcolumn.css' /> 
{% endblock %}
{% block header %}
		
{% endblock%}

{% block content %}
	    <!-- Main jumbotron -->
 <div class="jumbotron">
    <div class="container">
 	<h2>¡ Bienvenido a la administración de AlumnosWeb !</h2>
 	<p>Una herramienta  para gestionar la actividad académica de la Facultad Regional La Plata. </p>
     </div>
  </div>
          
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-3 fourth-column">
        	<h2> Novedades </h2>
        	<p><em><small> Si querés conocer las últimas novedades de la Facultad, pinchá en el siguiente botón</small></em></p>
        	<p><a class="btn btn-default" role="button"> Ir &raquo;</a></p>
        </div>
        <div class="col-sm-3 fourth-column">
        	<h2> Regional La Plata</h2>
        	<p class="text-justify"> Si querés visitar el sitio de la Regional, pinchá en el siguiente botón </p>
        	<p><a class="btn btn-default" href="#" role="button"> Ir a FRLP &raquo;</a></p>
        </div>
      </div>
      
  </div> <!-- /container -->
{% endblock%}
