{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!-- Este template modela el formulario para modificar la cátedra seleccionada desde la lista de cátedras -->
{% block title %} Modificar Cátedra {% endblock %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/formcrispy.css' /> {% endblock %}
 {% block header %}

 {% endblock %}

{% block content %}
<div class="container">
  	 <div class="row-fluid">  	 
		<div class="well clearfix" style="border-radius:5%;">
			{% csrf_token %}
			{% crispy form %}
			
		</div>
		</div>
	</div>
</div>
{% endblock %}
