/*Mediante esta hoja de estilos cargo los efectos para las fuentes y textos de la aplicación de Alumnos*/

.main-title {
	font-family: Garamond, serif;
	line-height: 1em;
	color: #c9c9c9;
	font-size: 17px;
	font-style:italic;
	text-shadow:0px 0px 0 rgb(91,91,91),1px 1px 0 rgb(-9,-9,-9), 2px 2px 0 rgb(-109,-109,-109),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
	}
      
      
/* Esto es para mostrar ciertos links */
.active {
   pointer-events: none;
   cursor: default;
}

.three-dee{
	font-family: Garamond, serif;
	line-height: 1em;
	color: #ccc9f0;
	font-style:italic;
	text-shadow:0px 0px 0 rgb(91,91,91),1px 1px 0 rgb(-9,-9,-9), 2px 2px 0 rgb(-109,-109,-109),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
      }

