<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
		<title>{% block title %}{% endblock %} </title>
		<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/bootstrap.min.css' />
		{%block customcss %} {% endblock%}
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!-- FontAwesome para tirar íconos -->
	</head>		
		{% block header %}{% endblock %}
		{% block navigation %}
			{% include 'navbar.html' %}
		{% endblock %}
	<body style="padding-top: 52px;">
		<div id="wrap">		
			{% block  content %}{% endblock %}
		</div>
		<footer id="footer">
			<hr>
			<div class="container">
				<a class="btn btn-primary btn-sm" href="#topbar" id="jumpback">&#8593 </a>					
				<div class="text-center">   				     			  
				     <h5 class="text-muted">&copy; 2014 Olaff_ - Django.</h5>
				</div>
		</footer>
		
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/footer.js"></script>		
		{% block customjs %} {% endblock %} 
	</body>
</html>
