{% extends 'base.html' %}
{% block title %} AlumnosWeb {% endblock %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/multidropdown.css' /> {% endblock %}

{% block navigation %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Container fluid-->
			<div class="container-fluid">
			    <!-- Navbar Header -->
			    <div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
       					<span class="icon-bar"></span>
                			<span class="icon-bar"></span>
                    			<span class="icon-bar"></span>
       				</button>
       			      <a class="navbar-brand" href="{% url 'users:index' %}"> <i class="fa fa-home"></i> AlumnosWeb</a>
			    <!-- End header -->
       			    </div>
			  <!-- Navbar collapse  -->
 			  <div class="navbar-collapse collapse navbar-default-collapse">
 				<ul class="nav navbar-nav">
					<li class="dropdown">
			                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestión de Carreras  <span  class="caret"></span> </a>
					    <ul class="dropdown-menu">
						<li><a name="add_carrera" href="{% url 'carreras:add_carrera' %}"> Agregar carrera </a></li>
						<li> <a name="carrera_list" href="{% url 'carreras:carrera_list' %}"> Ver carreras </a> </li>
					    </ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestión de Comisiones  <span  class="caret"></span> </a>
						<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
							<li><a name="add_comision" href="{% url 'comisiones:add_comision' %}"> Agregar comisión </a> </li>
							   <li class="divider"></li>
							   <li class="dropdown-submenu">
							   <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ver comisiones por carrera </a>
							   <ul class="dropdown-menu">
								<li>
								{% for carrera in carreras %}
									<a name="nombre_carrera" href="{% url 'comisiones:comision_list' carrera.nombre %}">
										{{carrera.get_title}}
									</a>
								{% endfor %}
								</li>
							   </ul>
							</li>
						</ul>
					</li>
					<li class="dropdown">
            				   <a href="#" class="dropdown-toggle" data-toggle="dropdown" >	Gestión de Cátedras <span class="caret"></span></a>
    					   <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              					   <li><a name="add_catedras" href="{% url 'catedras:add_catedra' %}">  Agregar Cátedra  </a>  </li>
             					   <li class="divider"></li>
              					   <li class="dropdown-submenu">
                				      <a href="#" class="dropdown-toggle"  data-toggle="dropdown">	Ver cátedras por carrera</a>
                				      <ul class="dropdown-menu">
                  					<li>
							  {%for carrera in carreras %}
								<a name="nombre_carrera" href="{% url 'catedras:catedra_list' carrera.nombre %}"> 
									{{carrera.get_title}}
						  		</a>  
						  	  {% endfor %}
						  	</li>
               					      </ul>
             					   </li>
            				    </ul>
        				</li>
					<li class="nav navbar-nav">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Gestión de Alumnos<span class="caret"></span> </a>
						<ul class="dropdown-menu">
							<li><a name="add_alumno" href="{% url 'alumnos:add_alumno' %}"> Agregar un Alumno </a></li>
							<li><a name="alumnos_list" href="{% url 'alumnos:lista_alumnos' %}"> Editar información de un Alumno </a></li>
							<li><a name="alumnos_list" href="{% url 'alumnos:lista_alumnos' %}"> Eliminar un Alumno </a></li>
						</ul>
					</li>
					<li class="navbar-text"> Bienvenido, <strong>{{user.username|title}} </strong></li>
						<form class="navbar-form navbar-right">
							<a href="{% url 'users:logout_user' %}"> <button type="button" class="navbar-btn btn-default" >Salir </button> </a>
		   				 </form>
				</ul>
			<!--	Navbar collapse  -->
		            </div>
			</div>
	</nav>
{% endblock %}


