<!--ESTE TEMPLATE ES PARA MODIFICAR LOS HORARIOS -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Modificar horarios de cátedra {% endblock %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/formcrispy.css' /> {% endblock %}
	{% block header %} 
	
		
	{% endblock %}
	
{% block content %}

<div class="container">
  	 <div class="row-fluid">
  	 	
  	 		{{ formset.management_form|crispy }}
				{% for form in formset %}
					{% if form.instance.id == form_num  %}
    						<div id="{{form_num}}">    							
    							{% crispy form %}
    						</div>	
    					{% else %}
    						<p>Instancia : {{form.instance.id}}</p>
    						<p>Form que busco : {{form_num}} </p>
    					{% endif %}
				{% endfor %}
		
  	 </div>
</div>
{% endblock %}
{% block customjs %}
	<script type="text/javascript" >
		$( document ).ready(function(event) {
 			$("#{{form_num}}").hide();
			event.preventDefault();
 		});
	</script>
{% endblock %}
