<!--ESTE TEMPLATE ES PARA MODIFICAR LOS HORARIOS -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Modificar horarios de cátedra {% endblock %}
{% block customcss %}<link rel='stylesheet' type="text/css" href='{{STATIC_URL}}css/formcrispy.css' /> {% endblock %}
	{% block header %} 
	
		
	{% endblock %}
	
{% block content %}

<div class="container">
  	 <div class="row-fluid">
  	 	<div class="#{{form_num}}">
  	 		{% crispy formset formset.form.helper %}
		</div>
  	 </div>
</div>
{% endblock %}
{% block customjs %}
	<script type="text/javascript" src="{{STATIC_URL}}js/hide-form.js"></script>
{% endblock %}
